[submodule "submodules/Heart"]
	path = submodules/Heart
	url = https://github.com/QuasarApp/Heart.git
[submodule "submodules/SimpleQmlNotify"]
	path = submodules/SimpleQmlNotify
	url = https://github.com/QuasarApp/SimpleQmlNotify.git
[submodule "submodules/Patronum"]
	path = submodules/Patronum
	url = https://github.com/QuasarApp/Patronum.git
[submodule "submodules/QrCodes"]
	path = submodules/QrCodes
	url = https://github.com/QuasarApp/QrCodes.git
[submodule "submodules/Credits"]
	path = submodules/Credits
	url = https://github.com/QuasarApp/Credits.git
