[submodule "submodules/qca"]
	path = submodules/qca
	url = git@github.com:QuasarApp/qca.git
[submodule "submodules/QuasarAppLib"]
	path = submodules/QuasarAppLib
	url = git@github.com:QuasarApp/QuasarAppLib.git
